.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-bottom: 404px;
  }
  
  input[type="text"],
  input[type="password"] {
    height: px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 30px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: black;
    border: 1px solid black;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: lightgray;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }
  
  .input-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
  }

  label {
    color: white;
    font-size: 25px;
  }